body {
  background: url(@filos-grain) fixed;
}
figure {
  margin: 0;
}

// Logos
// -------------------------
.logo {
  padding: 15px;
  a {
    height: 95px;
    display: block;
    background: url(@filos-sprite) no-repeat;
  }
  .unam {
    width: 267px;
    background-position: 0 -95px;
  }
  .ffyl {
    width: 220px;
  }
  .clearfix()
}

// Widgets
// -------------------------
.widget {
  margin-bottom: 20px;
  .widget-title {
    margin: 0 0 10px 0;
    padding: 3px 15px;
    #gradient > .vertical(lighten(@color1, 5%), @color1);
    .border-radius(5px);
    color: @white;
  }
  &.info {
    .widget-title {
      #gradient > .vertical(lighten(@color2, 5%), @color2);
    }
  }
  .clearfix()
}
.widget_calendar {
  #wp-calendar {
    width: 100%;
  }
}

.widget_rss { 
  .widget-title {
    a { 
      color: white;
    }
  }
}


// Events
// -------------------------
ul.eo-events {
  list-style: none;
}
.eo-events-widget { 
  margin: 0;
  li {
    overflow: hidden;
  }
  .date {
    float: left;
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 0.9em;
  }
  .event {
    margin-left: 85px;
    h3 {
      line-height: 1.5em;
      margin: 5px 0;
      font-weight: normal;      
    }
  }
}
.home-events {
  .eo-events-widget .date {
    background: @white;
    border: 1px solid #ccc;
    .border-radius(8px);
    b {
      display: block;
      padding: 5px;
      margin: -6px -6px 5px -6px;
      background-color: @color2;
      .border-top-left-radius(8px);
      .border-top-right-radius(8px);
      color: @white;        
    }
  }
}

// Research projects
// -------------------------
.home-product, .research-project {
  position: relative;
  .article-footer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    max-width: 40%;
    padding: 10px 5%;
    background: black;
    .opacity(80);
    .lead {
      margin: 0;
      padding: 0;
      line-height: @baseLineHeight;
      text-align: right;
      font-size: 1.2em;
    }
    a, a:hover, a:focus {
      color: @white;
    }
  }
}

.research-project {
  .article-footer {
    .lead {
      line-height: @baseLineHeight * 1.5;
      font-size: 1.6em;
    }
  }
}

.research-featured {
  margin-bottom: @baseLineHeight;
  a {
    width: 100%;
    display: block;
    position: relative;
    color: white;
    .title {
      position: absolute;
      display: block;
      width: 100%;
      background: black;
      .transition(all 0.2s ease-in);
      .opacity(60);
      height: 100%;
      bottom: 0;
      span {
        .h4();
        bottom: 0;
        position: absolute;
        display: block;
        padding: 15px;
      }
    }
    &:hover {
      .title {
        .transition(all 0.2s ease-out);
        .opacity(0);
      }
    }
  }
  // footer {
  //   position: absolute;
  //   width: 100%;
  //   bottom: 0;
  //   opacity: 0.8;
  //   background: #000;
  //   font-size: 0.9em;
  //   a {
  //     display: block;
  //     color: white;
  //     padding: 5px 10px;
  //   }
  // }
}

// Carousel (Home)
// -------------------------
#homeCarousel {
  .item img {
    width: 100%;
    height: 100%;
    max-width: 870px;
    max-height: 403px;
  }
}

// Footer
// -------------------------
#footer {
  margin-top: 30px;
  #gradient > .vertical(lighten(@color1, 10%), @color1);
  .footer-inner {
    padding: 15px 0;
    color: lighten(@color1, 35%);
    h4 {
      margin-top: 5px;
      font-weight: normal;
      color: @white;
    }
    a {
      color: lighten(@color1, 50%);
    }
    .nav {
      > li > a {
        color: lighten(@color1, 50%);
        &:hover {
          background-color: lighten(@color1, 10%);
        }
      }
    }
    .hr-inverse {
      border-top: 1px solid darken(@color1, 5%);
      border-bottom: 1px solid lighten(@color1, 5%);
    }
    .map {
      a {
        display: block;
        background: url(@filos-sprite) 0 -191px no-repeat;
        top: 0;
        width: 150px;
        height: 100px;
        .rotate(11deg);
        &:hover {
          .rotate(20deg);
        }
      }
    }
  }
}

.selectlang {
  background: #333;
  width: 100%;
  ul {
    margin: 0;
    padding: 10px;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 5px;
      a {
        color: white;
      }
    }
  }
}

// carousel 
.carousel.carousel-fade {
  .item {
     .transition(opacity 1s ease-in-out);
  }
  .active.left, .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .next, .prev {
    left: 0;
    z-index: 1;   
  }
  .carousel-control {
    z-index: 3;
  }
}
