//
// Carousel
// --------------------------------------------------

// Carousel Home
#CarouselHome {
  max-width: 870px;
  .item {
    img {
      width: 100%;
      height: 100%;
      max-width: 870px;
      max-height: 403px;
    }
  }

  &.highlight {
  
    .carousel-caption {
      opacity: 0.8;
      color: white;
      background: black;
      position: absolute;
      bottom: 0;
      left: auto;
      right: 0;
      width: 100%;
      font-size: 1em;
      padding: 10px;
    }

    @media (min-width: @screen-sm-min) {
      .carousel-caption {
        font-size: 1.2em;
        padding: 20px;
      }
    }

    @media (min-width: @screen-md-min) {
      .carousel-caption {
        font-size: 1.3em;
      }
    }

    @media (min-width: @screen-lg-min) {
      .carousel-caption {
        font-size: 1.5em;
        text-align: right;
        width: 60%;
        right: 30px;
        bottom: 30px;
      }
    }

  }
}

// Carousel Post
.carousel-post {
  max-width: 870px;
  margin-bottom: 20px;
}

@media (max-width: @screen-xs-max) {
  #CarouselHome {
    margin: 0 -20px;
  }
}

// Carousel Posts
.carousel-posts {
  .carousel-control {
    width: 5%;
    background: none;
    text-shadow: none;
    color: black;
    .icon-prev,
    .icon-next,
    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
      top: 50px;
    }
    .icon-prev,
    .glyphicon-chevron-left {
      left: -10%;
    }
    .icon-next,
    .glyphicon-chevron-right {
      right: -10%;
    }
  }
}
