//
// Grid system
// --------------------------------------------------

// Wrapper for container element
.wrapper {
  padding: 20px 0;
  &.wrapper-default {
    background: white;
  }
  &.wrapper-primary {
    background: darken(@navbar-default-bg, 2%);
  }
  &.wrapper-inverse {
    background: darken(@navbar-default-bg, 94%);
  }
  &.wrapper-margins {
    margin: 20px 0;
  }
  &.wrapper-margin-top {
    margin-top: 20px;
  }
  &.wrapper-margin-bottom {
    margin-bottom: 20px;
  }
}